src/main/mule/createProduit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="createProduitFlow" doc:id="04324158-4c12-445c-bab7-65dc8ccd3d45" >
		<http:listener doc:name="Listener" doc:id="b0dc35bd-9abb-4fef-a2b5-e040a7235a52" config-ref="HTTP_Listener_config" path="/add" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="b7b46a80-bbf0-4f7f-8ac2-a52bcb955851" message="Debut de l'operation d'ajout de produit"/>
		<ee:transform doc:name="Transform Message" doc:id="6b8f0527-ad93-4208-9680-7b1bb2f18a34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://services.javaws.com/
---
{
	ns0#createProduit: {
		reference: payload.reference,
		nom: payload.nom,
		prix: payload.prix
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="createProduit" doc:name="Consume" doc:id="df6830a3-1ddf-44e9-918c-f385f1988bbe" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="38ff91b5-ba5b-4e03-95b3-8c95362b1795" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://services.javaws.com/
---
[{
	result: payload.body.ns0#createProduitResponse.return default true
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="0195388a-2f6b-4f53-ac2e-a8f2f73ee2f4" message="Fin de l'opération de création de produits"/>
	</flow>
</mule>
