src/main/mule/updateProduit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="updateProduitFlow" doc:id="44022667-03dd-4417-8b73-2ebeea07f655" >
		<http:listener doc:name="Listener" doc:id="b2a2f44b-8f58-4ab8-81f2-8bc8aed8c172" config-ref="HTTP_Listener_config" path="/update" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="396a733d-e2f7-40b6-9bf1-216a68fdb841" message="Debut de l'operation de mise à jour de produit"/>
		<ee:transform doc:name="Transform Message" doc:id="7ba9d433-f554-495a-9e05-81fba53d375a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://services.javaws.com/
---
{
	ns0#updateProduit: {
		id: payload.id,
		reference: payload.reference,
		nom: payload.nom,
		prix: payload.prix
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="updateProduit" doc:name="Consume" doc:id="15f215ce-4c3c-4f38-abe7-1899587c4585" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d7e9be35-c052-42bf-89a3-55a02a9a71cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://services.javaws.com/
---
[{
	result: payload.body.ns0#updateProduitResponse.return default true
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="207173fc-6996-4ab9-9608-a783e52edae8" message="Fin de l'opération de mis à jour de produit"/>
	</flow>
</mule>
